
.main_container {
    text-align: center;
    padding: 10px;
    margin: 20px auto;
    border-radius: 6px;
    max-width: fit-content;
    background-color: #DFDCE3;
}

.search_input {
    margin: 20px auto;
    padding: 15px;
}

.intro {
    padding: 10px;
    margin: 0 auto;
    color: white;
    background: #0375b4;
    width: fit-content;
    border-radius: 6px;
}
