
.main_container {
    text-align: center;
    padding: 25px;
    margin: 50px auto;
    width: 95%;
    border-radius: 6px;
    background-color: #DFDCE3;
}

.search_input {
    margin: 20px auto;
    padding: 15px;
}

.intro {
    padding: 10px;
    margin: 0 auto;
    color: white;
    background: #0375b4;
    width: fit-content;
    border-radius: 6px;
}

.countries_container {
    margin: 15px auto;
}

#doggo {
    width: 200px;
    height: 200px;
    // transform: rotate(360deg);
    // animation: roll 3s infinite

}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

