
.main_container {
    text-align: center;
    padding: 10px;
    margin: 20px auto;
    border-radius: 6px;
    max-width: fit-content;
    background-color: #DFDCE3;
}

.search_input {
    margin: 8px auto;
}