.country_single {
    padding: 10px;
    margin: 15px;
    border: 5px darkgrey solid;
    border-radius: 7px;
    background-color: darkgray;
    display: inline-block;
}

img {
    width: 150px;
    height: 100px;
}

.flaggins {
    padding-bottom: 10px;
}